$primaryBackgroundColor: #272733;
$primaryBackgroundColor-Dark: #151515;

$secondaryBackgroundColor: #edf2f4;
$secondaryBackgroundColor-Dark: #e2ebee;

$dangerBackgroundColor: #e52421;
$dangerBackgroundColor-Dark: #d80f16;

$disabledBackgroundColor: rgba(239, 239, 239, 1);
$disabledColor: #a6a6a6;

$borderColor: #c5d1f7;

$largeHeight: 48px;
$middleHeight: 36px;
$smallHeight: 24px;
